body {
    height: 100vh;
    width: 100%;
    background-image: url(./images/bg-desktop.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #684BB1;
    display: flex;
    flex-direction: column;
}

.poppins {
    font-family: 'Poppins';
    font-style: normal;
}
.container{
    /* max-width: 1280px;  */
    width: 85%;
    /* margin-left: auto;
    margin-right: auto;
    flex-basis: 1280px;
    flex-grow: 1; */
    margin-inline: auto;
}
header{
    /* padding-top: 64px;
    padding-left: 80px; */
    height: 25vh;
    display: flex;
    align-items: center;
}
main {
    flex: 1 0 auto;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5%;
}

.bg {
    max-width: 696px;
    width: 100%;
    height:50vh;
    background-image: url(./images/illustration-mockups.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

article {
    flex-basis: 520px;
    min-height: 493px;
    padding-top: 32px;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

h1 {
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    color: #FFFFFF;
}

p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
}

article a {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #684BB1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 56px;
    background-color: #fff;
    border-radius: 28px;
    box-shadow: 2px 4px 9px 3px rgba(0, 0, 0, 0.258633);
    transition:all 0.5s ease;
}
article a:hover{
    background-color: #E880E8;
    color: #fff;
}
footer{
   
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 12.5%;
}
ul{
    display: flex;
    column-gap: 16px;
}
@media(max-width:1200px){
h1{
    font-size: 32px;
}
}
@media(max-width:1000px){
    header{
        height: 15vh;
    }
    main{
        flex-direction: column;
    }
    article{
        flex-basis: auto;
        min-height:fit-content;
        text-align: center;
        padding: 0;
    }
    h1{
        font-size: 24px;
        line-height: 26px;
    }
    p{
        font-size: 16px;
        line-height: 24px;
    }
    article a{
        margin-inline: auto;
    }
    footer{
        justify-content: center;
        height: 20vh;
    }
}
@media(max-width:500px){
    .bg{
        height: 35vh;
    }
}